.button {
  display: flex;
  padding: 0.5 * $gutter 4 * $gutter 0.5 * $gutter 4 * $gutter;
  margin: 0 auto;
  margin-bottom: $gutter;
  font-family: $font-main;
  font-size: $grunnur-font;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  justify-content: center;

  &__forsidu {
    padding: 0.5 * $gutter 4 * $gutter 0.5 * $gutter 4 * $gutter;
    margin-bottom: 2 * $gutter;
    font-size: 2 * $grunnur-font;
  }
}
