$gutter: 20px;
.card{
  max-width: 20*$gutter;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;

  @media(max-width: 1199px) {
    padding-left: 2 * $gutter;
    padding-right: 2 * $gutter;
  }

  &__saman {
    display: flex;
    flex-direction: row;

    @media (max-width: 599px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__stakur {
    @media(max-width: 1199px) {
      display: flex;
      justify-content: center;
    }
  }

  &__img{
    border-radius: 50%;
    /*display: flex;
    flex-direction: column;
    align-items: center;*/
    padding: 0 $gutter 0 $gutter;
  }

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3em;

    @media(max-width: 1199px) {
    /*  text-align: center;*/
        /*display: flex;*/
        align-self: center;

      }
    }
    &__alit{
      font-size:1.4* $grunnur-font;
      font-style: italic;
      padding-top: 1em;
      text-align: center;

    }

    &__nafn{

      font-size: 1*$grunnur-font;
      padding-top: 1em;


    }

    &__askrift{
      font-size: 0.8*$grunnur-font;
      color: #999999;
    }

}
