.check {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    margin-bottom: 4 * $gutter;
    flex-direction: row;
    align-items: flex-start;
  }

  img { /*stylelint-disable-line*/
    max-width: 2*$gutter;
  }
}
