$gutter: 20px;
$mid-width: 600px;

.check {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    margin-bottom: 6 * $gutter;
    flex-direction: row;
    align-items: flex-start;

    @media (max-width: 1199px ) {
      padding-left: $gutter;
    }
  }

  img { /*stylelint-disable-line*/
    max-width: 2 * $gutter;

  }
  &__myndhlid {
    @media (max-width: 1199px ) {
      padding-right: $gutter;
      padding-left: $gutter;
    }
  }
}
