$grunnur-font: 16px;
$max-width: 1200px;
$mid-width: 600px;
$min-width: 400px;
$gutter: 20px;

.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: $grunnur-font;
  padding-left: 2 * $gutter;
  padding-right: 2 * $gutter;

  @media(max-width: $mid-width) {
    padding-left: $gutter;
    padding-right: $gutter;

  }
  @media(max-width: $min-width) {
    padding-left: 10px;
    padding-right: 10px;
  }

  &-row {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    padding-top: $gutter;
    padding-bottom: $gutter;

    &:first-of-type {
      border-bottom: 1px solid #aaa;

    }
    &:last-of-type {
      color: #bbb;
      font-size: 0.75 * $grunnur-font;
    }
  }

  &-foo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5 * $gutter;
    padding-right: 5 * $gutter;
    justify-content: flex-start;
    text-align: center;

    @media(max-width: 750px) {
      padding-left: 2 * $gutter;
      padding-right: 2 * $gutter;

    }
    @media(max-width: $min-width) {
      padding-left: 10px;
      padding-right: 10px;

    }

  }

}
