$gutter: 20px;
$grunnur-font: 16px;
$font-Head: "Roboto Slap";
$font-main: "Open-sans", "helvetica","sans-serif";

$max-width: 1200px;
$mid-width: 600px;

.form {
  padding: 2 * $gutter 0 2 * $gutter 0;

  &__content {
    display: flex;
    padding: 0 5 * $gutter 0 5 * $gutter;
    font-family: $font-main;
    flex-direction: column;

    @media (max-width: 1199px) {
      padding: 0 $gutter 0 $gutter;
    }
    @media (max-width: 599px) {
      padding: 0 $gutter 0 $gutter;
      margin-bottom: 2 * $gutter;
    }
  }

  &__header {
    margin-bottom: $gutter;
    font-family: $font-Head;
    font-size: 1.3125 * $grunnur-font;
  }

  &__input {
    margin-bottom: $gutter;
    line-height: 2;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }

  &__input__minni {
    width: 4 * $gutter;
    margin: 0 2 * $gutter 0 2 * $gutter;

    @media (max-width: 1199px) {

      width: 3 * $gutter;
      margin: 0 0.5 * $gutter 0 0.5 * $gutter;
    }
  }
}
