$gutter: 20px;

.row {
 display: flex;
 margin-top: 3 * $gutter;
 margin-right: -($gutter / 2);
 margin-bottom: $gutter;
 margin-left: -($gutter / 2);
 flex-direction: row;

 &-small {
  @media (max-width: 1199px) {
   flex-direction: row;
  }
  @media (max-width: 599px) {
   flex-direction: column-reverse;
  }

  @media (max-width: 1199px) {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
  }
 }

 @mixin columns($col: 1) {
  width: ($col / 12 * 100) * 1%;
 }

 .col {
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;

   &-12 {
    @include columns(12);
   }

   &-8 {
    @include columns(8);
   }

   &-7 {
    @include columns(7);
   }

   &-6 {
    @include columns(6);
   }

   &-5 {
    @include columns(5);
   }

   &-4 {
    @include columns(4);
   }

   &-medium {
    @media (max-width: 1199px) {
     &-12 {
      @include columns(12);
     }
     &-6 {
      @include columns(6);
     }
     &-4 {
      @include columns(4);
     }
    }
   }
   &-small {
    @media (max-width: 599px) {
     &-12 {
      @include columns(12);
     }
    }
   }
  }

.offset {
 &-2 {
  margin-left: (2 / 12 * 100) * 1%;
 }

 &-medium {
  @media (max-width: 1190px) {
   &-0 {
    margin-left: 0;
   }
  }
 }

 &-small {
  @media (max-width: 599px) {
   &-0 {
    margin-left: 0;
   }
  }
 }
}
}
