.header {
  $max-width: 1200px;
  $gutter: 20px;
  $grunnur-font: 16px;
  align-items: center;
  &__forsida {
    background: url("bg.jpg") no-repeat fixed;
    height: 50rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3*$gutter;
  }
  &__content {
      /*animation-name: none;
      animation-duration: 3s;
      animation-timing-function: ease-in;
      transition-delay: 3s;*/
      font-family: 'Roboto Slab', serif;
      font-size: 2 * $grunnur-font;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: center;
      line-height: 2;
  }
  &__um-kaupa {
    background: url("bg-subpage.jpg");
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    padding-left: 2* $gutter;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 1.5*$grunnur-font;
  }
}
