.navbar {
  $max-width: 1200px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background:rgba(0, 0,0, 0.8);
  position: fixed;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a{
  color:white;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  padding: 2 * $gutter;
}
