$max-width: 1200px;
$mid-width: 600px;
$min-width: 400px;
$gutter: 20px;
$grunnur: 16px;
$grunnur-font : 16px;

.navbar {
  width: 100%;
  z-index: 1;
  overflow: auto;
  background:rgba(0, 0,0, 0.8);
  position: absolute;
  height: 3*$gutter;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
   color:white;
   text-decoration: none;
  }
  &__forsida {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.5*$grunnur-font;
    margin-left: $gutter;
    @media(max-width: 599px) {
      margin-left: 0.5*$gutter;
    }
  }
  &__saman {
    font-family: 'Open Sans', serif;
    @media(max-width:1199px) {
      padding-right: $gutter;
    }
    @media(max-width: 599px) {
    a {
      &:last-of-type {
        display: none;
      }
    }
  }
  }
  &__button {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 $gutter;
    padding: 0.5*$gutter $gutter;
  }
}
