$font-main: "Open-sans", "helvetica","sans-serif";
$grunnur-font: 16px;
$font-Head: "Roboto Slab";
$gutter: 20px;

.text {
  padding: 4em 0em;

  &__heading {
    font-weight: bold;
  }

  &__p {
    padding-bottom: 16px;
    line-height: 1.5em;
  }

  &__quote {
    margin: 1em 3em;
    margin-right: 0rem;
    font-family: $font-main;
    font-size: 1.5 * $grunnur-font;
    font-style: italic;

    @media (max-width: 1200px) {
    }

    p { /*stylelint-disable-line*/
      padding-top: 1em;
      font-style: initial;
    }
  }

  &__forsida {
    padding-bottom: 1em;
    text-align: center;
  }
}
