node_modules
forsida-400.png
forsida-600.png
forsida-120.png
forsida-grid-1200.png
forsida.txt
kaupa-400.png
kaupa-600.png
kaupa-120.png
kaupa-grid-1200.png
kaupa.txt
stort-verkefni1.md
stort-verkerni1.pdf
um-400.png
um-600.png
um-120.png
um-grid-1200.png
um.txt
