@charset "UTF-8";
/* Breytur sem notaðar eru endurtekið */
/* Stöðluð textastærð */
/* Staðlaður gutter á grind */
/* Staðlaðar skjástærðir */
/* Breytur með letrinu */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *::after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  line-height: 1.5;
  margin: 0; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.form {
  padding: 40px 0 40px 0; }
  .form__content {
    display: flex;
    flex-direction: column;
    font-family: 'Open sans', serif;
    padding: 0 100px 0 100px; }
    @media (max-width: 1199px) {
      .form__content {
        padding: 0 20px 0 20px; } }
  .form__header {
    font-size: 21px;
    margin-bottom: 20px;
    font-family: "Roboto Slap"; }
  .form__input {
    margin-bottom: 20px;
    border-radius: 3px;
    border: solid 1px grey;
    line-height: 2; }
  .form__input__minni {
    width: 80px;
    margin: 0 40px 0 40px; }
    @media (max-width: 1199px) {
      .form__input__minni {
        width: 60px;
        margin: 0 10px 0 10px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }
  @media (max-width: 599px) {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-7 {
    width: 58.33333%; }
  .col-6 {
    width: 50%; }
  .col-5 {
    width: 41.66667%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 1199px) {
    .col-medium-12 {
      width: 100%; }
    .col-medium-6 {
      width: 50%; } }
  @media (max-width: 599px) {
    .col-small-12 {
      width: 100%; } }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 1190px) {
  .offset-medium-0 {
    margin-left: 0; } }

@media (max-width: 599px) {
  .offset-small-0 {
    margin-left: 0; } }

.check {
  display: flex;
  flex-direction: column; }
  .check__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 80px; }
  .check img {
    max-width: 40px; }

@keyframes fade1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade2 {
  from {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade3 {
  from {
    opacity: 0; }
  66% {
    opacity: 0; }
  to {
    opacity: 1; } }

.header {
  align-items: center; }
  .header__forsida {
    background: url("bg.jpg") no-repeat fixed;
    height: 50rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 100px; }
  .header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    line-height: 2; }
    .header__content p {
      animation: 1s fade1 ease-in; }
    .header__content h1 {
      animation: 2s fade2 ease-in; }
    .header__content button {
      animation: 3s fade3 ease-in; }
  .header__um-kaupa {
    background: url("bg-subpage.jpg");
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    color: white; }

.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px; }
  @media (max-width: 600px) {
    .footer {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 400px) {
    .footer {
      padding-left: 10px;
      padding-right: 10px; } }
  .footer-row {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .footer-row:first-of-type {
      border-bottom: 1px solid #aaa; }
    .footer-row:last-of-type {
      color: #bbb;
      font-size: 12px; }
  .footer-foo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: flex-start;
    text-align: center; }
    @media (max-width: 750px) {
      .footer-foo {
        padding-left: 40px;
        padding-right: 40px; } }
    @media (max-width: 400px) {
      .footer-foo {
        padding-left: 10px;
        padding-right: 10px; } }

.text {
  padding: 4em 0em; }
  .text__heading {
    font-weight: bold; }
  .text__p {
    padding-bottom: 16px;
    line-height: 1.5em; }
  .text__quote {
    font-family: "Open-sans", "helvetica", "sans-serif";
    font-size: 24px;
    font-style: italic;
    margin: 1em 3em;
    margin-right: 0em; }
    .text__quote p {
      font-style: initial;
      padding-top: 1em; }
  .text__forsida {
    text-align: center;
    padding-bottom: 1em; }

.button {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 80px 10px 80px;
  margin: 0 auto 0;
  font-family: 'Open sans' serif;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
  .button__forsidu {
    font-size: 32px;
    margin-bottom: 40px;
    padding: 10px 80px 10px 80px; }

.card {
  max-width: 400px;
  width: 100%;
  align-items: center;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif; }
  .card__img {
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px; }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .card__alit {
    font-size: 22.4px;
    font-style: italic;
    padding-top: 1em;
    text-align: center; }
  .card__nafn {
    font-size: 16px;
    padding-top: 1em; }
  .card__askrift {
    font-size: 12.8px;
    color: #999999; }

.cardlist__row {
  display: flex;
  margin-right: -10px;
  margin-left: -10px; }

.cardlist__col {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 0 20px; }
  .cardlist__col-12 {
    width: 100%; }
  @media (max-width: 599px) {
    .cardlist__col-medium-12 {
      width: 100%; } }
  @media (max-width: 399px) {
    .cardlist__col-small-12 {
      width: 100%; } }

.navbar {
  width: 100%;
  z-index: 1;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar a {
    color: white;
    text-decoration: none; }
  .navbar__forsida {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 24px;
    margin-left: 20px; }
    @media (max-width: 599px) {
      .navbar__forsida {
        margin-left: 10px; } }
  .navbar__saman {
    font-family: 'Open Sans', serif; }
    @media (max-width: 1199px) {
      .navbar__saman {
        padding-right: 20px; } }
    @media (max-width: 599px) {
      .navbar__saman a:last-of-type {
        display: none; } }
  .navbar__button {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 20px;
    padding: 10px 20px; }
