@charset "UTF-8";
/* Breytur sem notaðar eru endurtekið */
/* Stöðluð textastærð */
/* Staðlaður gutter á grind */
/* Staðlaðar skjástærðir */
/* Breytur með letrinu */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *::after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  line-height: 1.5; }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.form {
  padding: 40px 0 40px 0; }
  .form__content {
    display: flex;
    padding: 0 100px 0 100px;
    font-family: "Open-sans", "helvetica", "sans-serif";
    flex-direction: column; }
    @media (max-width: 1199px) {
      .form__content {
        padding: 0 20px 0 20px; } }
  .form__header {
    margin-bottom: 20px;
    font-family: "Roboto Slap";
    font-size: 21px; }
  .form__input {
    margin-bottom: 20px;
    line-height: 2;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
  .form__input__minni {
    width: 80px;
    margin: 0 40px 0 40px; }
    @media (max-width: 1199px) {
      .form__input__minni {
        width: 60px;
        margin: 0 10px 0 10px; } }

.row {
  display: flex;
  margin-top: 60px;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px;
  flex-direction: row; }
  @media (max-width: 1199px) {
    .row-small {
      flex-direction: row; } }
  @media (max-width: 599px) {
    .row-small {
      flex-direction: column-reverse; } }
  @media (max-width: 1199px) {
    .row-small {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center; } }
  .row .col {
    padding-right: 10px;
    padding-left: 10px; }
    .row .col-12 {
      width: 100%; }
    .row .col-8 {
      width: 66.66667%; }
    .row .col-7 {
      width: 58.33333%; }
    .row .col-6 {
      width: 50%; }
    .row .col-5 {
      width: 41.66667%; }
    .row .col-4 {
      width: 33.33333%; }
    @media (max-width: 1199px) {
      .row .col-medium-12 {
        width: 100%; }
      .row .col-medium-6 {
        width: 50%; }
      .row .col-medium-4 {
        width: 33.33333%; } }
    @media (max-width: 599px) {
      .row .col-small-12 {
        width: 100%; } }
  .row .offset-2 {
    margin-left: 16.66667%; }
  @media (max-width: 1190px) {
    .row .offset-medium-0 {
      margin-left: 0; } }
  @media (max-width: 599px) {
    .row .offset-small-0 {
      margin-left: 0; } }

.check {
  display: flex;
  flex-direction: column; }
  .check__content {
    display: flex;
    margin-bottom: 120px;
    flex-direction: row;
    align-items: flex-start; }
    @media (max-width: 1199px) {
      .check__content {
        padding-left: 20px; } }
  .check img {
    /*stylelint-disable-line*/
    max-width: 40px; }

@keyframes fade1 {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade2 {
  from {
    opacity: 0; }
  50% {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade3 {
  from {
    opacity: 0; }
  66% {
    opacity: 0; }
  to {
    opacity: 1; } }

.header {
  align-items: center; }
  .header__forsida {
    display: flex;
    width: 100%;
    height: 50rem;
    margin-bottom: 80px;
    overflow: auto;
    background: url("bg.jpg") no-repeat fixed;
    background-position: 50% 50%;
    background-size: cover;
    justify-content: center; }
  .header__content {
    display: flex;
    line-height: 2;
    flex-direction: column;
    align-items: center;
    align-self: center; }
    .header__content p {
      /*stylelint-disable-line*/
      animation: 1s fade1 ease-in; }
    .header__content h1 {
      /*stylelint-disable-line*/
      animation: 2s fade2 ease-in; }
    .header__content button {
      /*stylelint-disable-line*/
      animation: 3s fade3 ease-in; }
  .header__um-kaupa {
    display: flex;
    width: 100%;
    height: 30rem;
    overflow: auto;
    color: #fff;
    background: url("bg-subpage.jpg");
    background-position: 50% 50%;
    background-size: cover;
    justify-content: flex-start; }

.footer {
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  flex-direction: column;
  justify-content: space-around;
  background-color: #333; }
  @media (max-width: 600px) {
    .footer {
      padding-right: 20px;
      padding-left: 20px; } }
  @media (max-width: 400px) {
    .footer {
      padding-right: 10px;
      padding-left: 10px; } }
  .footer-row {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    align-content: stretch;
    justify-content: center; }
    .footer-row:first-of-type {
      border-bottom: 1px solid #aaa; }
    .footer-row:last-of-type {
      font-size: 12px;
      color: #bbb; }
  .footer-foo {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; }
    @media (max-width: 750px) {
      .footer-foo {
        padding-right: 40px;
        padding-left: 40px; } }
    @media (max-width: 400px) {
      .footer-foo {
        padding-right: 10px;
        padding-left: 10px; } }

.text {
  padding: 4em 0em; }
  .text__heading {
    font-weight: bold; }
  .text__p {
    padding-bottom: 16px;
    line-height: 1.5em; }
  .text__quote {
    margin: 1em 3em;
    margin-right: 0rem;
    font-family: "Open-sans", "helvetica", "sans-serif";
    font-size: 24px;
    font-style: italic; }
    .text__quote p {
      /*stylelint-disable-line*/
      padding-top: 1em;
      font-style: initial; }
  .text__forsida {
    padding-bottom: 1em;
    text-align: center; }

.button {
  display: flex;
  padding: 10px 80px 10px 80px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Open-sans", "helvetica", "sans-serif";
  font-size: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  justify-content: center; }
  .button__forsidu {
    padding: 10px 80px 10px 80px;
    margin-bottom: 40px;
    font-size: 32px; }

.card {
  display: flex;
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  font-family: "Open-sans", "helvetica", "sans-serif";
  flex-direction: row;
  align-items: center; }
  @media (max-width: 1199px) {
    .card {
      padding-right: 40px;
      padding-left: 40px; } }
  .card__saman {
    display: flex;
    flex-direction: row; }
    @media (max-width: 599px) {
      .card__saman {
        display: flex;
        flex-direction: column; } }
  @media (max-width: 1199px) {
    .card__stakur {
      display: flex;
      justify-content: center; } }
  .card__img {
    padding: 0 20px 0 20px;
    border-radius: 50%; }
  .card__content {
    display: flex;
    padding-bottom: 3em;
    flex-direction: column;
    align-items: center; }
    @media (max-width: 1199px) {
      .card__content {
        align-self: center; } }
  .card__alit {
    padding-top: 1em;
    font-size: 22.4px;
    font-style: italic;
    text-align: center; }
  .card__nafn {
    padding-top: 1em;
    font-size: 16px; }
  .card__askrift {
    font-size: 12.8px;
    color: #999; }

.navbar {
  position: fixed;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: space-between; }
  .navbar a {
    /*stylelint-disable-line*/
    color: #fff;
    text-decoration: none; }
  .navbar__forsida {
    margin-left: 20px;
    font-family: "Roboto Slab";
    font-size: 24px; }
    @media (max-width: 599px) {
      .navbar__forsida {
        margin-left: 10px; } }
  .navbar__saman {
    font-family: "Open-sans", "helvetica", "sans-serif"; }
    @media (max-width: 1199px) {
      .navbar__saman {
        padding-right: 20px; } }
    @media (max-width: 599px) {
      .navbar__saman a {
        /*stylelint-disable-line*/ }
        .navbar__saman a:last-of-type {
          /*stylelint-disable-line*/
          display: none; } }
  .navbar__button {
    padding: 10px 20px;
    margin: 0 20px;
    background-color: rgba(255, 255, 255, 0.2); }
