@charset "UTF-8";
/* Breytur sem notaðar eru endurtekið */
/* Stöðluð textastærð */
/* Staðlaður gutter á grind */
/* Staðlaðar skjástærðir */
/* Breytur með letrinu */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *::after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-bottom: 20px;
  margin-left: -10px; }

.col {
  padding-right: 10px;
  padding-left: 10px; }
  .col-12 {
    width: 100%; }
  .col-6 {
    width: 50%; }
  .col-4 {
    width: 33.33333%; }
  @media (max-width: 599px) {
    .col-medium-12 {
      width: 100%; } }
  @media (max-width: 399px) {
    .col-small-12 {
      width: 100%; } }

.offset-2 {
  margin-left: 16.66667%; }

@media (max-width: 599px) {
  .offset-medium-0 {
    margin-left: 0; } }

@media (max-width: 399px) {
  .offset-small-0 {
    margin-left: 0; } }

.header {
  max-width: 1200px;
  align-items: center; }
  .header__forsida {
    background: url("bg.jpg") no-repeat fixed;
    height: 60rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: auto;
    display: flex;
    justify-content: center; }
    .header__forsida-content {
      animation-name: none;
      animation-duration: 3s;
      animation-timing-function: ease-in;
      font-family: "Roboto Slab", serif;
      font-size: 48px; }
  .header__um-kaupa {
    background: url("bg-subpage.jpg");
    height: 30rem;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 24px; }

.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px; }
  .footer-row {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    .footer-row:first-of-type {
      border-bottom: 1px solid #aaa; }
    .footer-row:last-of-type {
      color: #bbb;
      font-size: 12px; }
  .footer-foo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    /* Þetta virkar ekki */
    padding-left: 100px;
    padding-right: 100px; }
    .footer-foo:first-of-type {
      justify-content: flex-end; }
    .footer-foo:last-of-type {
      justify-content: flex-start; }

.card__img {
  border-radius: 50%; }

.card__content {
  display: flex;
  padding: 15px;
  flex-direction: column;
  align-items: center; }
  .card__content__alit {
    font-size: 2em; }

.navbar {
  z-index: 1;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  max-width: 1200px;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.navbar a {
  color: white;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  padding: 40px; }
